<!--TODO: create the pages for about and contactus-->

<footer class="footer">
	<small>
		National University of Singapore, 2016
	</small>
	<nav>
		<ul>
			<a>About</a> <a>Contact us</a>
		<ul>
	</nav>
</footer>